.projectCard {
    margin-left: 100px;
    margin-bottom: 50px;
    width: 50%;
    background-color: #489bc7;
    opacity: 90%;
}

.cardHeader h5 {
    padding: 12px 0px 0px 12px;
    font-size: 36px;
    font-weight: 300;
}

.dcx {
    margin: 0 -20px;
    width: 125%;
    background-color: #2d3436;
    padding: 12px;
    color: white;
}

.cardFooter {
    padding: 12px;
}

.tags {
    word-spacing: 10px;
}

.cardFooter ul {
    height: 50px;
}

.cardFooter li {
    float: left;
    width: 40%
}

.cardFooter img {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

/* Mobile Styling */
@media screen and (max-width: 1024px) {
    .projectCard {
        margin-left: 30px;
        margin-top: 20px;
        width: 75%;
        background-color: #489bc7;
        opacity: 90%;
        clear: both;
    }
}