.container {
    text-align: center;
}

li {
    list-style-type: none;
}

.link {
    color: white;
}

#contact li {
    float: left;
    width: 30%
}

#contact img {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

#kelly {
    height: 200px;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    #kelly {
        display: none;
    }

    #name {
        font-size: 36px;
    }

    ul {
        height: 70px;
    }
}